@model Domain.Entities.Sample

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sample</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id1" /> <input type="hidden" asp-for="Id2" /> <input type="hidden" asp-for="Id3" />
                        <div class="form-group">
                <label asp-for="Id1" class="control-label"></label>
                <input asp-for="Id1" disabled="disabled" class="form-control" />
                <span asp-validation-for="Id1" class="text-danger"></span>
            </div>
                                    <div class="form-group">
                <label asp-for="Id2" class="control-label"></label>
                <input asp-for="Id2" disabled="disabled" class="form-control" />
                <span asp-validation-for="Id2" class="text-danger"></span>
            </div>
                                    <div class="form-group">
                <label asp-for="Id3" class="control-label"></label>
                <input asp-for="Id3" disabled="disabled" class="form-control" />
                <span asp-validation-for="Id3" class="text-danger"></span>
            </div>
                                    <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
                                    <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
                        <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
